<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"  type="text/javascript"> </script>
    </head>
    <body>
        <div>
            To Import using file go <a href="/oursolution">here</a>
            To Import using conflurence page id go <a href="/confsolution">here</a>
        </div>
    </body>
</html>