<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"  type="text/javascript"> </script>
    </head>
    <body>
        <div>
            <p>Conf Sol (Right now it only extracts the docs in my account as it needs auth to extract)
                Try (ID : 519831554)
            </p>
            <input type="text" id="pageId" placeholder="paste confluence pageid here"/>
            <button id="import">Import</button>
            <label id="error"> </label>
            <label id="progress-wrp"></label>
        </div>
        <div>
            <p> Imported Doc</p>
            <div id="converted_doc"></div>
        </div>

        <script  type="text/javascript">
            $('#import').click(function(){
                var pageId = $("#pageId").val();
                var confUrl = "https://civilmaps.atlassian.net/wiki/plugins/viewsource/viewpagesrc.action?pageId=" + pageId;
                var USERNAME = "test"
                var PASSWORD = "test"
                $.ajax({
                    type: "POST",
                    url: "/api/confsol",
                    data: JSON.stringify({"pageId": pageId}),
                    contentType: "application/json",
                    dataType: 'json',
                    async: true,
                    success: function (data){
                       $("#converted_doc").html(data.html);
                       var title = $(".confluence-link")[0].href.split("-")[0].split("#")[1];
                       $('#converted_doc .editor-inline-macro').each(function() {
                           var id = $(this).attr("data-macro-default-parameter");
                           $(this).parent().prepend("<span id='"+title+"-"+id+"'/>");
                           $(this).remove()
                       })
                    }
                });
            });
        </script>
    </body>
</html>
